html { display: flex;}
body { width: 100%;}



.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.site-content {
	flex: 1;
}

footer {
	border: solid;
	background-color: gray;

}

form {
	padding-top: 40px;
	border: solid;

}

