html { display: flex;}
body { width: 100%;}



.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.site-content {
	flex: 1;
}

footer {
	border: solid;
	background-color: gray;

}

form {
	padding-top: 20px;
	padding-right: 20px;
	border: solid;
	margin: 20px;

}

.right-divider {
 	border-right: solid;
}

.footer-nav>li>a {
	color: #FFFFFF;
}
.footer-nav>li>a:hover {
	color: #000000;
}